<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="center-container-pass">
        <div class="container-pass">
            <h2>Reset Your Password Here</h2>
            <form action="" method="post" autocomplete="off">
                <div>
                    <label htmlFor="password">New Password</label>
                    <input type="password" id="password" name="password" value={password} required autocomplete="off" />
                </div>
                <div>
                    <button type="submit">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>